
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
  }
  
  .todo-list {
    background-color: #1A1AFF;
    font-weight: bold;
    padding: 1rem;
    min-width: 400px;
    min-height: 300px;

    border-radius: 16px;
  }
  
  .title {
    border-bottom: 1px solid #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .form {
    display: flex;
    justify-content: center;
  }
  
  .form-input,
  .form-button {
    padding: 0.75rem;
    font-size: 0.75rem;
  }
  
  .form-input {
    outline: none;
    background-color: #ffffff;
    border-color:#ffffff;
    border-radius: 12px;
  }
  
  .form-button {
    border: 1px;
    color: #fff;
    font-weight: bold;
    background-color: #99d18f;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 0.25rem;
    border-radius: 12px;
  }
  
  .form-button:hover {
    color: #ffffff;
    background-color: #3f6f21;
  }
   
  .list {
    padding: 0;
    list-style: none;
    width: 100%;
  }
  
  .task {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 1rem 3rem;
  }
  
  .check-button, .delete-button {
    background-color: #519839;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }

  .delete-button {
    background-color: #b04632;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .task.done .check-button {
    background-color: #46494C;
    color: #ffff;
  }
  
  .check-icon {
    display: block;
    padding: 1px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
  }
  
  .task.done .check-icon {
    background-color: #0B2027;
  }
  
  .content {
    margin: 0;
  }

  .content-data { 
    color: #fff;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    padding: 1rem 3rem;
  }
  
  .task.done .content {
    text-decoration: line-through;
  }
  